#address-container {
	margin: 1em;
	background-color: white;
	width: auto;
}

#address-dataset {

}

th {
	width: 180px !important;
	text-align: center !important;
}

#actions {
	text-align: center !important; 
}

#dialog {
	display: none !important; 
}